@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: 1rem;
}

*{
    margin: 0;
    padding: 0;
}
.logo{
    height:30px;
    padding: 0 8px;
}
nav ul {
    display: flex;
    align-items: center;
   list-style-type: none;
   height: 45px;
   background-color: black;
   color: white;
   
}
nav ul li{
    padding: 0 12px;
}
.brand{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bolder;

}
.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    margin: 10px auto;
    width: 75%;
    display: flex;
    /* border-radius: 12px; */
    padding: 20px 0 20px 20px;
    background-image: url("bg.jpg");
    background-size: cover;
    box-sizing: border-box;


}
.bottom{
    position: sticky;
    bottom: 0;
    background-color: black;
    height: 70px;
    width:100% ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
}
.inputRange input{
    width: 80vw;
    accent-color: #009dff;
    cursor: pointer;
}
.inputRange{
    display: flex;
    justify-content:center;
    align-items: center;
}
.headline{
    text-align: center;
}

#startDuration{
margin-right: 0.15%;
}

#endDuration{
    margin-left: 0.15%; 
}
.icons{
    display: flex;
    color: aliceblue;
    justify-content: center;
    width: 100%;
    align-items: center;

}
.icons i{
    margin: 4px 8px;
    cursor: pointer;
    
}


.songItem{
    margin-top: 2%;
    background-color: white;
    color: black;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 80%; */
    padding: 0.40% 0.20%;
    border-radius: 30px;

}
.songItem img{
    width: 30px;
    margin:  0 8px;
    border: 8px;
    border-radius: 34px;
}
.songListPlay{
    display: flex;
    justify-content: space-around;
    align-items: center;
     width: 85px;
     
}
.songListPlay i{
    cursor: pointer;
}
.songItemContainer{
    margin-top: 5%;
    box-sizing: border-box;
}
.songInfo{

    position: absolute;
  
    left: 8vw;
    margin-right: 5px;
    font-family: sans-serif;
}
.bottomIcons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 11vw;
}
.bottomIcons input{
    accent-color: #009dff;
}
.songBanner{
    width: 42vw;
    position: relative;
    
}
#playingImg{
    position: absolute;
    right: 0;
    bottom: -15px;
    opacity: 0;
    transition: opacity 0.4s ease-in;
    

    
}
@media(max-width:586px){
    .container{
        height: 100%;
        background-color: black;
        color: white;
        margin: 10px auto;
        width: 100%;
        display: flex;
        /* border-radius: 12px; */
        padding: 20px 0 20px 20px;
        background-image: url("bg.jpg");
        background-size: cover;
    
    
    }
    .bottom{
        position: sticky;
        bottom: 0;
        background-color: black;
        height: 13vh;
        width:100% ;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: white;
    }
    .icons i{
        margin: 0px 22px;
        cursor: pointer;
        width: 10px;
        
    }
    .songInfo{
     margin-bottom: 82px;
        margin-right: 5px;
        font-family: sans-serif;
        font-size: 12px;
        margin-top: 5px;
    }
    .bottomIcons input{
        margin-top: 5px;
        accent-color: #009dff;
        margin-left: 10px;
        height: 7px;
    }
    .inputRange input{
        width: 80vw;
        accent-color: #009dff;
        height: 4px;
        cursor: pointer;
    }
    .songItemContainer{
        margin-top: 2%;
     
      
    }
   
    #playingImg{
        display: none;
        width: 10px;
         
     
         
     }
   

}
@media(min-width:586px){
    .container{
        min-height: 50vh;
        background-color: black;
        color: white;
        margin: 5px auto;
        width: 75%;
        display: flex;
        border-radius: 12px;
        padding: 20px 0 20px 20px;
        background-image: url("bg.jpg");
        background-size: cover;
    
    
    } 
    .bottom{
        position: sticky;
        bottom: 0;
        background-color: black;
        height: 30%;
        width:100% ;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: white;
    }
    #playingImg{
        /* display: none; */
        width: 10px;
         
     
         
     }
    
}

@media(max-width:360px){


    body{
        margin: 0;
        padding: 0;
    }
    .container{
        min-height: 110vh;
        background-color: black;
        color: white;
        margin: 10px 0px;
        width: 129vw;
        display: flex;
        /* border-radius: 12px; */
        padding: 20px 0 20px 20px;
        background-image: url("bg.jpg");
        background-size: cover;
    
    
    } 
    .bottom{
        position: sticky;
        bottom: 0;
        background-color: black;
        height: 11.20vh;
        width:135vw ;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: white;
    }
    .songItem img{
      display: none;
    }

    .songItem{
        margin-top: 5%;
        background-color: white;
        color: black;
        height: 6vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* width: 60%; */
        padding: 5px 10px;
        border-radius: 16px 30px 30px 16px ;
        font-size: 1rem;
    
    }
    nav{
        width: 135vw;
    }
    .songInfo{
        margin-top: 10px;
      margin-left: 60px;
      margin-bottom: 120px;
        font-family: sans-serif;
    }

    .bottomIcons input{
        margin-top: 5px;
        accent-color: #009dff;
        margin-left: 10px;
        height: 7px;
    }
    .inputRange input{
        width: 110vw;
        accent-color: #009dff;
        height: 4px;
        cursor: pointer;
    }
    .songInfo{
        margin-bottom: 82px;
        margin-top: 5px;
           margin-left: 25px;
           font-family: sans-serif;
           font-size: 12px;
       }
       .icons i{
        margin: -2px 22px;
        cursor: pointer;
        width: 10px;
        
    }
    .songItemContainer{
        margin-top: 2%;
        height: 120vh;
    }
    
    #playingImg{
        display: none;
        width: 10px;
         
     
         
     }
}
